<header class="mobile-fill-top main-header">
    <div class="container">
<nav class="navbar navbar-expand-sm bsnav navbar-dark">
    
    <a class="navbar-brand wic-logo" routerLink="/"><span class="invisible">{{ title }}</span></a>
    <button class="navbar-toggler toggler-spring"><span class="navbar-toggler-icon"></span></button>

    <!-- CTA Mobile -->

    <a href="#form-optin" class="contact-m d-sm-block d-md-none">Contact us</a>

    <!-- CTA Mobile END -->

    <div class="collapse navbar-collapse justify-content-sm-end">

        <div class="my-2 my-lg-0 form-inline form-end">
            <!-- Inline BEGIN -->
            <ul class="rrss-header">
                    <li><a class="fb" href="https://www.facebook.com/wicstudio"><span class="invisible">Facebook</span></a></li>
                    <li><a class="tw" href="www.twitter.com/wicstudio"><span class="invisible">Twitter</span></a></li>
                    <li><a class="ins" href="www.instagram.com/wicstudio"><span class="invisible">Instagram</span></a></li>
                    <!--li><a class="yt" href=""><span class="invisible">Youtube</span></a></li>-->
                </ul>

            <a class ="contactus" href="mailto:hello@wicstudio.com">Contact us at hello@wicstudio.com</a>
            <!-- Inline END -->
        </div>
    </div>
</nav>
</div>
</header>

<div class="bsnav-mobile">
    <div class="bsnav-mobile-overlay">
    <div class="navbar"></div>
    </div>
</div>