.main-header{
    min-height:100px;
    justify-content: center;
    align-items: center;
    display:flex
}
.main-header, nav{
    background-color:#F4EC37;
    width:100%;
}

.wic-logo{
    display:block;
    width:120px;
    height:80px;
    background:url(../../assets/icons/wic-logo-black.svg) left no-repeat;
    background-size:contain;
}

.contactus{
    color:#333333;
    font-weight: bold;
    border:2px solid #333333;
    border-radius:15px;
    padding:.5em 1em
}

/* RRSS */
.rrss-header{
    display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;

   margin-right: 4em;
   margin-top:1em
}

.rrss-header li{
    list-style-type: none;
    margin-right:1.5em;
}

.rrss-header a{
    display:block;
    width:1.2em;
    height:1.2em;
    background-size:contain;
}

.fb{
    background:url(../../assets/icons/facebook.svg) center no-repeat;
}
.tw{
    background:url(../../assets/icons/twitter.svg) center no-repeat;
}
.ins{
    background:url(../../assets/icons/instagram.svg) center no-repeat;
}
.yt{
    background:url(../../assets/icons/youtube.svg) center no-repeat;
}

@media (max-width: 576px){
    .wic-logo{
        width:120px;
        height:50px;
    }
    .main-header{
        min-height:70px;
    }
    .navbar-toggler-icon{
        display:none
    }

    .contact-m{
        border-radius:5px;
        background-color: #333333;
        color: #fff;
        padding:.5em 1em;
    }
}