<app-header></app-header>
<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6">
        <h2>The Multicultural digital and audiovisual team your brand’s been waiting for.<br>
          <span>If you got this far, let’s make it official. It’s us you want.</span></h2>
      </div>
      <div class="col-12 col-sm-12 col-md-6">

              <!--<form class="form-optin" action="https://formkeep.com/f/56f0373ad31e"
              accept-charset="UTF-8"
              enctype="multipart/form-data"
              method="POST">-->
              <form id="form-optin" class="form-optin" action="https://formspree.io/lpulgar@wicstudio.com" method="POST">
            <h3>If you want to get in touch with us please fill out the form below.</h3>
              <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Enter your name" name="name">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                  <label for="interest">What are you interested in?</label>
                  <select class="form-control" id="interest" name="interest">
                    <option>Brand</option>
                    <option>Marketing</option>
                    <option>Web design</option>
                  </select>
                </div>
              <!--<button type="submit" mat-raised-button color="warn">Let’s start now</button>-->
              <button type="submit" class="btn btn-primary">Let’s start now</button>
              <p>We will never share your email. Promise.</p>
            </form>

      </div>
    </div>
  </div>
</div>

<!-- Introduction -->
<section class="introduction">
  <div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">

      <h2>We are content creators at heart who are driven by data and it’s wonders.</h2>
      <!--<ol>
        <li>Your first feature written in the form of a benefit statement. Your first feature written in the form of a benefit statement.</li>
        <li>Your first feature written in the form of a benefit statement. Your first feature written in the form of a benefit statement.</li>
        <li>Your first feature written in the form of a benefit statement. Your first feature written in the form of a benefit statement.</li>
      </ol>-->
      <p>WIC Studio is shaped by the most perceptive minds, gathered together into one team with the ultimate goal of making the impossible possible. We support and expand any idea attached to different kinds of creative projects that will help them become tangible. We are loaded with talent, passion, and innovation that never goes without consciousness in order to build the best strategies for businesses to rise above the surface, and for everyone involved to do so as well.</p>

    </div>
  </div>
</div>
</section>

<!-- Testimonial -->

<app-testimonials class="testimonial-container"></app-testimonials>

<section class="testimonial d-none d-sm-none d-md-none">

  <div class="container">
    <div id="testimonial" class="owl-carousel owl-theme">

        <div class="row">
            <div class="col-12 col-sm-12 col-md-2">
                <div class="avatar fefi"></div>
              </div>
                    
              <h3 class="col-12 col-sm-12 col-md-10">
                  “Que increible fue trabajar con WIC Studio! Me hicieron sentir en casa y mejor atendida imposible! Gracias por siempre trabajar con calidad y ofrecer lo mejor para el talento”
                <br><span>Fefi Olveira - <a href="https://www.instagram.com/fefioliveira/">@fefioliveira</a></span></h3>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-2">
                <div class="avatar abelardo"></div>
              </div>
                    
              <h3 class="col-12 col-sm-12 col-md-10">
                  “Mi nombre es Abelardo Chahwan influencer se redes sociales @abelardo puedo decir que haber trabajado para Wic Studio fue una de las mejores expreciencias, me encantaría volver a trabajar con ellos, muy profesionales.”
                <br><span>Abelardo Chahwan - <a href="https://www.instagram.com/abelardo/">@abelardo</a></span></h3>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-2">
                <div class="avatar musiana"></div>
              </div>
                    
              <h3 class="col-12 col-sm-12 col-md-10">
                  “WIC Studio is my FAAAAV! I am an independent musician/artist and they have supported me in so many ways! From sharing my music with others to help me create my press materials. <!--They have amazing visual content (videos, pictures) 

                  I think WIC Studio is genuinely helping individuals around, including me! and that is, in my opinion, one of the most valuable reasons I LOVE working with WIC.
                  
                  Also, WIC has a very creative and powerful TEAM that takes care of your brand and its expansion, so... --> If you are asking yourself were to start, you have found the correct place ;) WIC rocks!”
                <br><span>Musiana - <a href="https://www.instagram.com/musiana/">@musiana</a></span></h3>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-2">
                <div class="avatar gerardo"></div>
              </div>
                    
              <h3 class="col-12 col-sm-12 col-md-10">
                  “WIC Studio has given us invaluable data to use and optimize our digital marketing campaigns. We couldn't be happier about their work and their passion when it comes to our business and our road to success.”
                <br><span>Gerardo R. - Socialy</span></h3>
        </div>
        

    </div>
  </div>

</section>

<!-- Services Details -->
<section class="services">
<div class="container">

<div class="row">
  <h2>Our Service Details</h2>
  <div class="col-12 col-md-4">
    <h3 class="branding">Branding</h3>
    <p>We throw around the word “brand” a lot, but what does that mean for you? Well, it means “you”, really. It’s the culmination of everything your work represents, and what you want to accomplish. It’s what lets you reach out to your audience in meaningful ways. That’s where WIC comes in: We can help you build it from the ground up!</p>
  </div>

  <div class="col-12 col-md-4">
      <h3 class="marketing">Marketing</h3>
      <p>We do everything from traditional to Digital Marketing. We don’t like to brag (we do) But or team has won awards all over the world and our digital campaigns have reached over 60 million people (and counting). We’ll help your company with all your advertising needs and that includes: SEO, Social Media Management, SEM, Influencer Marketing, Copywriting, Google Adwords, Facebook and Instagram ads and more.</p>
    </div>

    <div class="col-12 col-md-4">
        <h3 class="webdesign">Web Design & Development</h3>
        <p>Your homepage has to look snazzy if you want to make a good first impression! But it can’t just be pretty to look at. What’s the point of having a website if your clients can’t make heads or tails of it? We’ll make sure your website is the fanciest and easiest to navigate.</p>
      </div>
</div>
</div>
</section>


<section class="ins-feed">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12">

        <div class="elfsight-app-cf3df243-0570-4ac6-a206-eb3000062aec"></div>

      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<app-footer></app-footer>